cuda-*

*.pyc
*.out
*.jar

images/test
images/user1

wandb/

wound_segmentation/*.sh
wound_segmentation/datasets
wound_segmentation/detectron2

tattoo_generation/*.sh
tattoo_generation/wandb
tattoo_generation/models
tattoo_generation/__pycache__
tattoo_generation/debug
tattoo_generation/images
tattoo_generation/lora_train
tattoo_generation/utils/__pycache__