cuda-*

*.sh
*.pyc
*.out
*.jar

images/

wandb/

wound_segmentation/datasets
wound_segmentation/detectron2


tattoo_generation/wandb
tattoo_generation/models
tattoo_generation/__pycache__
tattoo_generation/debug
tattoo_generation/images
tattoo_generation/lora_train
tattoo_generation/utils/__pycache__